.header {

}

#weblinks {

}

#connectlinks {
	
}

.main-container {

}

.main-section {

}

#aboutme{
	height: 400px;
	width: auto;
}

.social {
	height: 50px;
	width: auto;
}

.work {

}

#auth-image {

}